.game-container {
    position: fixed;
    height: 75%;
    width: 50%;
    left: 25%;
    margin-left: 0;
    top: 10%;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.game-style {
    position:relative; 
    height:100%;
}

#loading {
    background:#000 url({% static 'images/ajax-loader.gif' %}) no-repeat center center;
    height: 50px;
    width: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    z-index: 1000;
}
