{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}


{% block title%}{% trans 'Mate Marote' %}{% endblock %}
{% block head%}{% endblock %}
{% block content %}

<div class="container">

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Skill" %}</th>
      <th>{% trans "Games" %}</th>
    </tr>
  </thead>
  <tbody>
{% for sk in skill_list %}
    <tr><td>{{ forloop.counter }}</td><td>
        <div class="row">
            {% for g in sk %}
            <div class="span2">
                {% if g.0.webgamerevision %}
                <a href="{{ g.0.webgamerevision.static_dir }}">{{ g.0.game.name }}</a>
                {% else %}
                Game not available
                {% endif %}
            </div>
            {% endfor %}    
        </div>
    </td></tr>
{% endfor %}
  </tbody>    
</table>
</div>

{% endblock %}
