{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}


{% block title%}{% trans 'Mate Marote' %}{% endblock %}
{% block head%}{% endblock %}
{% block content %}

<div class="container">
<div class="hero-unit">
    <h1>Algunos Datos.</h1>
        <h2>¿Quiénes Somos?</h2>
        
        <p> Somos el Laboratorio de Neurociencia Integrativa (http://www.neurociencia.df.uba.ar), un grupo de investigación que busca entender un poquito cómo funciona la mente, cómo razonamos y cómo, cuándo y por qué tomamos decisiones. </p>

        <h2>¿Qué Hacemos?</h2>
        <p> Hacemos ciencia e investigación. Hacemos experimentos que nos permitan contestar algunas de las preguntas anteriores. A veces medimos directamente algunas cosas que suceden en el cerebro mientras pensamos; otras veces cómo se mueven los ojos al buscar cosas; y otras hacemos juegos de computadora, como los que están en esta página, para luego analizar cómo juega la gente y así intentar entender cómo piensa.  </p>
        
        <p class="text-center"><a class="btn btn-primary btn-large" href="/gameflow/">
            {% trans 'Start playing...' %}
        </a></p>
        
        <h2>¿Puedo Contribuir?</h2>
        <p> ¡Por supuesto! Si tienes un cerebro y ganas de participar, eres más que bienvenid@. Ninguna de nuestras tareas es nociva para la salud y los métodos que usamos no son invasivos. La forma más fácil de ayudarnos es jugar en esta página, siempre con el mismo nombre de usuario. Si además quieres ver cómo funciona tu cerebro, te invitamos a participar de algún experimento que se esté haciendo en el laboratorio. ¡Escríbenos a XXX@XXX.XXXX y te esperamos!  </p>
        
</div>
</div>

{% endblock %}
